body{
  font-family: Arial, Helvetica, sans-serif;
}

#container{
  position: absolute;
  width: 490px;
  height: 200px;
  background-color: #6e6e6e;
}

#gpsdata{
  position: absolute;
  width: 150px;
  height: 180px;
  top: 10px;
  left: 10px;
  background-color: #7d7d7d;
}

#weatherdata{
  position: absolute;
  width: 150px;
  height: 180px;
  top: 10px;
  left: 170px;
  background-color: #7d7d7d;
}

#systems{
  position: absolute;
  width: 150px;
  height: 180px;
  top: 10px;
  left: 330px;
  background-color: #469c43;
}
